.footer {
    &-top {
        &__wrapper {
            padding: 120px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-post {
            &__wrapper {
                background: #ffffff;
                border: 1px solid #020cbb;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 40px;
            }

            &__title {
                margin: 0;
                padding: 0;
                max-width: 500px;
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 34px;
                margin-bottom: 10px;
                color: #020cbb;
            }

            &__inner {
                display: flex;
                align-items: flex-start;
            }

            &__link {
                font-family: Times New Roman;
                font-style: italic;
                font-weight: normal;
                font-size: 20px;
                line-height: 34px;
                text-decoration-line: underline;
                color: #020cbb;
                margin-right: 120px;
            }

            &__img {
                display: inline-block;
            }
        }
    }
}
