.container {
    width: 100%;
    max-width: 1920px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

.post {
    display: flex;
}

.post__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.post__left {
    display: block;
}

.post__right {
    width: 709px;
    margin-left: 75px;
}

.post__card {
    width: 377px;
    height: 362px;
    background: #ffffff;
    border: 1.5px solid #020cbb;
    box-sizing: border-box;
    border-radius: 16px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post__card--body {
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 35px;
}

.post__date--time,
.post__date--date {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #020cbb;
    margin-top: 0;
}

.post__format {
    width: 66px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #020cbb;
    border-radius: 50px;
    font-family: Times New Roman;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin-top: 6px;
}

.post__speaker--name {
    font-family: Times New Roman;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #020cbb;
    margin-top: 25px;
}

.post__speaker--detail {
    margin-top: 2px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #020cbb;
    opacity: 0.6;
    text-transform: capitalize;
}

.post__card--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #020cbb;
}

.post__card--list {
    display: flex;
    list-style-type: none;
}

.post__card--items {
    margin-right: 10px;
}

.post__card--links {
    width: 72px;
    height: 72px;
}

.post__card--copy {
    margin-right: 35px;
}

.post__card--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    cursor: pointer;
    background: transparent;
    border: none;
}

.post__head {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: #020cbb;
}

.post__intro {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #020cbb;
    opacity: 0.8;
    line-height: 32px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.post__content,
.post__part--link {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #020cbb;
    font-weight: bolder;
    margin-top: 41px;
}

.post__part--link {
    color: #0085ff;
    text-decoration: underline;
    font-style: italic;
}

.post__footer {
    display: flex;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #020cbb;
}
.post__seen,
.post__comment {
    padding: 8px 25px;
    background: #ffffff;
    border: 1.5px solid rgba(2, 12, 187, 0.1);
    box-sizing: border-box;
    border-radius: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post__seen {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.post__seen--icon {
    margin-right: 10px;
}

.post__comment--icon {
    margin-right: 10px;
}
